body { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.App {
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(136, 134, 134);
  font-size: 30px;
}

.App-header h3 {
  text-decoration: underline;
  color: rgba(126, 42, 42, 0.884);
}

main {
  width: 80vh;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.block-chat {
  border: 1px solid #cccccc44;
  width: 100%;
}

.block-chatList {
  border: 1px solid #cccccc44;
  width: 50%;
}